.tooltip {
  background-color: var(--surface-3);
  color: var(--text-color);
  padding: var(--space-1) var(--space-2);
  border-radius: var(--border-radius-md);
  font-size: var(--font-size-sm);
  box-shadow: var(--shadow-lg);
}

.tooltip--visible {
  display: block;
} 